<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoTube_Android"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditVideoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserPageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Declaration for LoginActivity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" /> <!-- `exported="false"` if not accessible outside the app -->

        <activity android:name=".activities.AddVideoActivity" />
        <activity android:name=".activities.FullscreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/fullscreen"
            android:screenOrientation="landscape">
        </activity>


    </application>

</manifest>